h2 {
    background-color:rgb(225, 195, 195);
    color:rgb(96, 19, 19);
    }
h3 {
     background-color:rgb(105, 25, 25);
    color:rgb(235, 192, 192);
    }
body{
    background-color: rgb(249, 231, 243);
}